<% unless current_user %>
  <p><%= link_to 'Log in with LayerVault', '/auth/layervault' %></p>
<% else %>
  <%= render 'movies/form' %>

  <ul>
    <% @projects.each do |project| %>
      <%= content_tag(:li, {
        data: {
          organization_permalink: project.organization_permalink,
          project_name: project.name
        }
      }) { "#{project.organization_name} / #{project.name}" } %>
    <% end %>
  </ul>

  <script>
    $(function () {
      new FormFiller();
    });
  </script>
<% end %>
