<p class="Description">
  Create GIFs and MOVs from your LayerVault Projects.
</p>
<% unless current_user %>
  <p class="Login"><%= link_to 'Log in with LayerVault', '/auth/layervault' %></p>
<% else %>
  <select>
    <option>Select Project</option>
    <% @projects.each do |project| %>
      <%= content_tag(:option, {
        data: {
          organization_permalink: project['organization_permalink'],
          project_name: project['name']
        }
      }) { "#{project.organization_name} / #{project.name}" } %>
    <% end %>
  </select>

  <%= render 'movies/form' %>

  <script>
    $(function () {
      new FormFiller();
    });
  </script>
<% end %>

<p class="Note">This is an example Rails application used to show off the <a href="https://developers.layervault.com/">LayerVault API</a>.<br/><br/>You can view the source <a href="https://github.com/layervault/pummeldoge">on GitHub</a>.</p>